body {
    background-color: #343a40; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

header {
    margin-bottom: 30px;
}

.btn {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 20px;
}

/* RODAPÉ*/

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin-bottom: 0; /* Remover margem inferior do parágrafo */
}
/* Adicionando estilo ao botão do LinkedIn */
/* Estilizando o botão do LinkedIn */
.btn-social {
    font-size: 18px;
    padding: 8px 16px; /* Ajustando o espaçamento interno */
}

.btn-social:hover {
    background-color: #0077b5; /* Cor ao passar o mouse sobre o botão do LinkedIn */
}



