/* Definições gerais do corpo da página */
body {
    background-color: #343a40; /* Cor de fundo preto */
    color: #ffffff; /* Cor do texto branco */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}

/* Ajuste de margem para os containers */
.container {
    margin-top: 20px; /* Reduzindo a margem superior */
}

/* Estilo do cabeçalho */
header {
    margin-bottom: 30px;
}

/* Estilo dos botões */
.btn {
    margin-bottom: 15px;
}

/* Estilo para grupos de entrada (input) */
.input-group {
    margin-bottom: 20px;
}

/* Estilo para a classe 'valor-dolar' */
.valor-dolar {
    font-size: 30px; /* Tamanho da fonte */
    color: #007bff; /* Cor azul */
    font-weight: bold; /* Texto em negrito */
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    position: relative; /* Altere para 'relative' */
    width: 100%;
}

/* Ajuste do parágrafo no rodapé */
.footer p {
    margin-bottom: 0; /* Remove a margem inferior do parágrafo */
}

/* Estilo para botões sociais */
.btn-social {
    font-size: 18px; /* Tamanho da fonte */
    padding: 8px 16px; /* Espaçamento interno */
}

/* Efeito ao passar o mouse sobre os botões sociais */
.btn-social:hover {
    background-color: #0077b5; /* Cor ao passar o mouse sobre o botão do LinkedIn */
}


        /* Adicione o CSS do menu aqui */
        .navbar {
            background-color: #343a40;
            padding: 1px 0;
        }

        .navbar-brand {
            color: #ffffff;
            font-size: 24px;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-link {
            color: #ffffff;
            margin-right: 20px;
        }

        